.navbar-horizant{
    background-color: var(--dark);
    a{
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }
    padding: 1rem;
}
.navbar-mobile{
    display: none;
    box-shadow: 1px 0 8px rgb(175, 175, 175);
}
.navbr_link_md{
    &:hover{
        color: rgb(223, 223, 223);
    }
}
.selected{
    color: rgb(223, 223, 223) !important;
    border-bottom: 0.5px solid rgb(223, 223, 223);
}

.selecter-mobile{
    svg{
        color: rgb(0, 84, 153) !important;
    }
    p{
        color: black;
    }
}
@media only screen and (max-width:768px){
    .navbar-horizant{
        display: none !important;
    }
    .navbar-mobile{
        z-index: 100;
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        svg{
            color: rgb(33,150,243);
        }
        p{
            font-size: 12px;
        }
    }
}
@media only screen and (max-width:992px) and (min-width:768px){
    .navbr_link_md{
        font-size: 14px !important;
    }
}