.search-input{
    width: 300px;
}
.bg-table-header{
    background-color: #EAEAEA;
}
.table-body{
    .table-body-padding{
        div{
            padding: 5px 10px;
            display: inline-block;
            margin: 0;
        }
        button{
            border: 1px solid #B7EB8F;
            color: #B7EB8F;
            background-color: #F6FFED;
            border-radius: 4px;
            cursor: auto;
        }
        &:hover{
            background-color: #f7f7f7;
        }
    }
}
.bank-add-wrapper{
    label{
        margin-right: 40px;
        text-align: left;
    }
}
.table>:not(:first-child) {
    border-top: 0px solid currentColor;
}

