.filter-checkbox {
  width: 180px;
  .ant-checkbox-wrapper {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 !important;
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }
  button {
    width: 100%;
    background-color: var(--dark);
    color: #fff;
    border: none;
    padding: 7px 0;
    margin-top: 15px;
    &:hover {
      background-color: rgb(54, 54, 54);
    }
  }
}
.all_products {
  img {
    margin-bottom: 2rem;
    height: 250px;
    object-fit: cover;
  }
  .card-filtered-item {
    border: none;
    box-shadow: 1px 1px 5px rgb(231, 231, 231);
  }
  .comp-name {
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .comp-sale {
    .through {
      text-decoration: line-through;
    }
  }
  .comp-price {
    font-size: 18px;
    font-weight: 600;
  }
  .filter-button {
    background-color: transparent;
    border: none;
    font-size: 17px;
  }
  .filter_icon{
      display: none;
  }
  .collapse_list{
    list-style-type: none;
    margin-bottom: 0 !important;
    li{
      margin-bottom: 5px;
      a{
        color: rgb(97, 97, 97);
        &:hover{
          color: black;
        }
      }
    }
  }
  .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding-top: 0;
    padding-bottom: 12px;
  }
}

@media only screen and (max-width:768px){
  .ant-modal,
  .ant-modal-content {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
  }
  .ant-modal-body {
    height: calc(100vh - 110px);
  }
    .all_products{
        .filter_icon{
            display: block;
        }
    }
}
