.header-top-content{
    display: flex;
    justify-content: space-between;
    .search_input{
        width: 200px;
    }
    .search_input2{
        display: none;
    }
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    color: #000000 !important;
    background: transparent !important;
    border-color: #000000 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #000000 !important;
    border-color: #000000 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #000000 !important;
}
@media only screen and (max-width:768px){
    .header-top-content{
        display: block;
        .radio_gender{
            width: 100%;
            text-align: center;
        }
        .search_input{
            display: none;
        }
        .search_input2{
            display: block;
            margin-bottom: 10px;
            width: 100%;
        }
    }
}