:root {
    --dark: rgb(24, 22, 22);
    --light: rgb(156, 156, 156);
  }
    

.pointer{
    cursor: pointer;
}
.ant-layout-sider{
    min-height: 100vh !important;
}

.styles_scroll-to-top__2A70v{
    right: 10px !important;
    box-shadow: 0 0 7px 0px rgb(32, 32, 32) !important;
}
.to_tp{
    font-size: 22px;
}
.d-block-md{
    display: none;
}

.articl_length{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;

}
.about-us-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.blog_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
@media only screen and (max-width:768px){
    .d-none-md{
        display: none !important;
    }
    .d-block-md{
        display: block !important;
    }
    .styles_scroll-to-top__2A70v{
        right: 10px !important;
        box-shadow: 0 0 7px 0px rgb(32, 32, 32) !important;
        z-index: 101 !important;
        bottom: 80px !important;
        width: 30px !important;
        height: 30px !important;

    }
    .to_tp{
        font-size: 18px;
    }
}