:root {
    --dark: rgb(24, 22, 22);
    --light: rgb(156, 156, 156);
  }
    

.pointer{
    cursor: pointer;
}
.ant-layout-sider{
    min-height: 100vh !important;
}

.styles_scroll-to-top__2A70v{
    right: 10px !important;
    box-shadow: 0 0 7px 0px rgb(32, 32, 32) !important;
}
.to_tp{
    font-size: 22px;
}

@media only screen and (max-width:768px){
    .d-none-md{
        display: none !important;
    }
    .d-block-md{
        display: block;
    }
}


@media only screen and (max-width:768px){
    .styles_scroll-to-top__2A70v{
        right: 10px !important;
        box-shadow: 0 0 7px 0px rgb(32, 32, 32) !important;
        z-index: 101 !important;
        bottom: 80px !important;
        width: 30px !important;
        height: 30px !important;

    }
    .to_tp{
        font-size: 18px;
    }
}